body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #091e42;

  }

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    

}

.container-2 {
    background-color: #253858;
}

.button-signup {
    border: 0cap;
}

.row {
    background-color: #253858;
    color: #ffffff;
    background-image: linear-gradient(180deg, #253858, #091e42);
    background-size: 100% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 80px 0;
    
}

.truth-3 {
    margin-right: 20rem;
}
      
      .left-jira-software {
    float: left;
    margin-right: 10px;
  }



  .center-container {
      text-align: center;
      
  }
  
  .btn-primary {
      background-color: #57d9a3;
      color: #253858;
  }

  .icon-templates {
      background-color: #091e42;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .workflow-icon {
    width: 400px; 
    height: 50px;
    margin: 0 40px; 
  }

  .row {
  --bs-gutter-x: 3.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  }

  .judul1 {
      justify-content: center;
      display:grid;
      align-items: center;
      background-color: #091e42;
      color: white;
  }

  .col-lg-4 {
    margin-left: 10px;
    text-align: center;
    margin-right: 200px;
  }

  #forquote {
      display: grid;
      color: white;
      font-size: 10px;
      margin-left: 5px;
  }

  .quote-image {
    float: left;
    margin-left: 10px; 
}

#searchContainer {
    position: relative;
    display: inline-block;
}

#searchInput {
    display: none;
    position: absolute;
    left: -150px; /* Sesuaikan dengan lebar input */
}   

  .center-image {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh; 
      }


      .text-center {
        background-color: white;
        text-align: center!important;
    }

    #relationships {
        background-image: url('Images/brandbackground.png');
        background-size:contain;
        background-position:center;
        background-repeat: no-repeat;
        color: white;
        padding: 100px; 
    }
    
    #relationships h1 {
        color: inherit;
        font-size: 2rem;
    }

    .py-5 {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
        
    }
    .px-4 {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
        
    }

    .display-5 {
        font-size: 30px;
        font-weight: 500;
    }

    .col-lg-6 {
        font-size: 24px;
      justify-content:center;
    }

    .smaller-text {
        font-size: 0.7em; 
        color: black;
        font-weight:500;
    }
    
    
.btn-3 {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-size: 14px; 
    padding: 2px 8px; 
    border-radius: 10px; 
}

.btn-3:hover {
    color: #000;
    background-color: transparent;
}


.container-3 .row .col-lg-6 {
    text-align: center;
}

.container-3 .row {
    display: flex;
    align-items: center;
}

.container-3 .row .col-lg-6 button.btn-3 {
    font-size: 20px;
    border-radius: 10px;
}

.container-3 .row .col-lg-6 p.new-text {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

.bigger-number {
    font-size: 2em; 
}

.container-5 {
    background-color: #fff;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.row-2 {
    --bs-gutter-x: 3.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(1 * var(--bs-gutter-x));
    background-color: white;
}

.row-white {
    background-color: white;
    --bs-gutter-x: 3.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(1 * var(--bs-gutter-x));
}

.col-white {
    background-color: white;
}

.feature-images img {
    width: 250px; 
    height: auto; 
}

.for-feature-button {
    font-size: medium;
    color: #0065ff; 
    background-color: transparent; 
    border: none; 
    padding: 8px 16px; 
    border-radius: 10px; 
}

.for-feature-button:hover {
    text-decoration: underline; 
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.svg-one {
    width: 200px; 
    height: 200px; 
    margin-bottom: 10px; 
}


.text-center-1 {
    text-align: center!important;
    color: #ffffff;
    
}

.text-body-emphasis {
    color: white;
}

.display-4 {
    color: white!important;
}

.lead-for-p {
    text-align: left!important;
    color: white;
    margin-left: -10px!important;
}

.pt-5 {
    padding-top: 3rem!important;
    
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.get-started-text {
    font-size: 1.5rem; 
    font-weight:500; 
}

.btn-features {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* footer */

.row-footer {
    background-color: white;
    --bs-gutter-x: 3.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(1 * var(--bs-gutter-x));
  font-size: small;
}

.d-flex {
    background-color: white;
}

.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}
.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.flex-column {
    flex-direction: column!important;
}
.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.dropdown-languange .btn {
    border: none;
    background-color: transparent;
    color: #000; 
  }
  .dropdown-languange .btn:hover {
    background-color: transparent;
    color: #555; 
  }

  .dropdown-languange {
    display: flex;
    align-items: center; 
}

.dropdown-languange .btn {
    border: none;
    background-color: transparent;
    color: #000; 
    display: flex;
    align-items: center; 
}

.dropdown-languange .btn img {
    margin-right: 0.5rem; 
}

.footer-text {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem; 
    align-items: center; 
}

.footer-text p {
    margin: 0; 
    padding-right: 1rem; 
}

.list-unstyled {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto; 
}

.list-unstyled li {
    margin-left: 1rem;
}


.footer-column {
    margin-right: 20px;
  }

 
  .footer-heading {
    font-size: 15px;
    font-weight: bold;
  }

  .footer-list-item {
    margin-bottom: 10px;
    font-size: 10px;
  }


  .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0px; 
  }
  
  .custom-nav-item a {
    color: #0052cc !important;
    line-height: 1.125;
    font-size: .875rem;
}

